RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]


#RewriteEngine on
#RewriteRule ^(.+)?$ /web/$1
#1
#2
#RewriteEngine on
#RewriteRule ^(.+)?$ /web/$1
